.panel.home {
  min-height: 100vh;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
}


.hero-container {
  max-width: 1200px;
  width: 100%;
  padding: 4rem 2rem;
  text-align: center;

}


.hero-title {
   font-family: 'Buffy', 'Montserrat', sans-serif;
  font-size: clamp(2.5rem, 8vw, 10rem);
  letter-spacing: 3px;
  margin: 3rem 0 2rem 0; /* replaces fixed 100px */
   /* border: 1px solid #000; */

}


.drink-image {
  width: 260px;
  height: 360px;
  margin: 0 auto;
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  letter-spacing: 1px;
}
