

.panel.home {
  min-height: 100vh;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;
 /* horizontal center */
}


.hero-container {
  max-width: 1200px;
  width: 100%;
  padding: 4rem 2rem;
  text-align: center;
height: 900px;
}


.hero-title {
  font-family: 'Buffy', sans-serif;
  font-size: 70px;
  letter-spacing: 6px;
  margin-bottom: 3rem;
   /* border: 1px solid #000; */
   margin-top: 100px;  
   text-align: center; 
    /* line-height: 1; */
     padding-left: 3px;
}

.hero-title h1{
  margin: 0;
}


.hero-subtext {
  margin-top: 1.2rem;        /* space from title */
  max-width: 300px;          /* keeps it readable */
  margin-left: auto;
  margin-right: auto;
/* border: 1px solid #000; */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  color: var(--black);  
  transform: translateX(-2.5px);    
  /* transform: translateY(-30px);         */
}


/* image container */
.hero-images {
  position: relative;      
  width: 100%;
  height: 300px;          
  margin-bottom: 3rem;
  


  filter: drop-shadow(0 26px 36px rgba(16, 13, 8, 0.45));
  will-change: transform;
  transform-origin: center bottom;

}

/* LEFT BOX */
.left-box {
  position: absolute;
  width: 40%;              
  height: 500px;

  left: 0px;                   
  top: -520px;                   

  /* border: 1px solid #000; */
  overflow: hidden;
}

/* RIGHT BOX */
.right-box {
  position: absolute;
  width: 40%;
  height: 500px;

  right: 0px;              
  top: -520px; 

  /* border: 1px solid #000; */
  overflow: hidden;
}

/* IMAGE RULE (shared) */
.left-box img,
.right-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* two arrow ===========================================*/
.top-div,
.text-div {
  will-change: transform, opacity;
}


/* Top 200x200 divs */
.top-div {
  width: 210px;
  height: 400px;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
   /* border: 1px solid #000; */
     background-size: cover;
}

.top-left {
   position: absolute;
  top: -280px;     /* move down from top */
  left: -20px;  
}

.top-right {
  position: absolute;
  top: -400px;     /* move down from top */
  right: -20px; 
}

/* Arrow images inside top divs */
.arrow-img {
  width: 150%;  
  height: 150%;  
  object-fit: contain; 
 
}

/* ======================== */
/* Text divs next to top divs */
.text-div {
  position: absolute;
  top: 50px; 
  width: 150px; 
  font-size: 14px;
 font-family: 'Buffy', sans-serif;
  color: var(--black);
  text-align: center;
  z-index: 11;
   /* border: 1px solid #000; */
     letter-spacing: 2px;
}

.text-left {
  position: absolute;
  top: -15px;     /* move down/up from top in px */
  left: 110px;   /* move right/left from left in px */
  width: 150px;/* 200px div + 20px gap */
}

.text-right {
  position: absolute;
  top: -300px;     /* move down/up from top in px */
  right: -32px;  /* move left/right from right in px */
  width: 150px;
}
/* ================================================ */




/* ================= BEST SELLER SECTION ================= */

.panel.best-seller {
  min-height: 200vh;   /* 2 pages height */
  display: flex;
  align-items: center;
  justify-content: center;
 /* border: 1px solid #000; */
  /* You will add background image later */
   background-image: url("../../assets/divider-bg/whole-bg.png");
background-size: contain;
 background-position: center top;
  background-repeat: no-repeat;
  
}

.panel.best-seller {
  position: relative;
  top: -130px;    /* move up */
 
}
.best-seller-container {
  max-width: 1200px;
  width: 100%;
  margin-top: -250px;
  text-align: center;
  height: 100vh;
  color: var(--white);
}

.best-seller-title h2 {
  font-family: 'Buffy', sans-serif;
  font-size: 60px;
  letter-spacing: 6px;
  margin-bottom: 1.5rem;
}



.best-seller-sub {
  max-width: 420px;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}






