/* =============== FONTS =============== */
@font-face {
  font-family: 'Buffy';
  src: url('/Agapaw-web-system/assets/fonts/Buffy.woff') format('woff2'),
       url('/Agapaw-web-system/assets/fonts/Buffy.otf') format('opentype');
  font-display: swap;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* =============== VARIABLES =============== */
:root {
    --primary: #B14C21;
    --white: #f5f1ec;
    --black: #100D08;
}

/* =============== CONTAINER =============== */
.container {
  max-width: 1200px;
  
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}
