/* =============== FONTS =============== */
/* Localhost path */
@font-face {
  font-family: 'Buffy';
  src: url('/assets/fonts/Buffy.woff') format('woff'),
       url('/assets/fonts/Buffy.otf') format('opentype');
  font-display: swap;
}


/* live server path */
/* @font-face {
  font-family: 'Buffy';
  src: url('../../../assets/fonts/Buffy.woff') format('woff'),
       url('../../../assets/fonts/Buffy.otf') format('opentype');
  font-display: swap;
} */




body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
   overflow-y: scroll; 
}

/* =============== VARIABLES =============== */
:root {
    --primary: #B14C21;
    --white: #f5f1ec;
    --black: #100D08;
}

/* =============== CONTAINER =============== */
.container {
  max-width: 1200px;
  /* border: 1px solid #000; */
  margin: 0 auto;
  padding: 2rem 0rem;
  text-align: center;
}
